/* markdown-minimap component styles. */
.cs-component-markdown-minimap-14,
.cs-component-markdown-minimap-15 {
    height: 100%
}

.cs-component-markdown-minimap-15 {
    width: 100%
}

.cs-component-markdown-minimap-15 {
    cursor: pointer
}
